body{
   background-color: black;
   text-align: center;
   font-family: "Verdana", sans-serif;
   color: white;
}

img{
   margin: 0 0 20px 0;
   height: 200px;
   width: 300px;
}

h1{
   height: solid;
}

a{
   color:red;
}

#sla{
   margin: 15px;
   background-color: grey;
   padding: 15px;
}