body{
    background-color: #4682B4;
    text-align: center;
}

div{
    background-color:white;
    padding: 10px 20px 20px 10px;
    margin: 10px;
}

header{
    color: white;
}

#strwhite{
    font-family: Garamond;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    margin: 0 10px 0 0;
}

span{
    color: #00BFFF ;
}

a{
    display: inline;
    color: white;
    margin: 10px;
    display: inline-block;
    font-size: 19px;
}

#surfista{
    width: 600px;
    height: 300px;
}

#up{
    color: white;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 100px;
    height: 15px;
    text-align: center;
}

#serviços{
    margin: 0;
    text-align: center;
}

#service{
    margin: 0;
    text-align: center;
    padding-left: 10px;
}